.logo 
    display: flex
    align-items: center
    gap: 1rem
    color: #E23E57

    .logo_image 
        display: flex
        align-items: center
        height: 3rem
        img 
            height: 100%

    .logo_text 
        font-size: 3rem
        font-family: 'Londrina Solid', cursive
