.accordion 
    display: grid
    grid-auto-rows: 1fr
    .title 
        display: flex 
        align-items: center 
        justify-content: space-between
        padding: .5rem 1rem
        border-bottom: 1px solid #44444442
        
        background: #F2F2F2

        .group_name 
            font-weight: 300
            font-family: 'Londrina Solid', cursive
            text-transform: capitalize