.accordion 
    .title 
        display: flex 
        align-items: center 
        justify-content: space-between
        padding: .5rem 1rem
        border-top: 1px solid #4444441a

        .group_name 
            font-weight: 300
            font-family: 'Londrina Solid', cursive